
task-front/node_modules/
task-back/node_modules/


task-front/build/
task-front/dist/
task-back/dist/


task-front/coverage/


task-front/.env*
task-back/.env*


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store
Thumbs.db


.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.swp


.cache/
.tmp/
temp/